body, html{
    background-color: #073642;
    padding: 0;
    margin: 0;
}
#left{
    background-color: #002b36;
    position: fixed;
    left: 0;
    top: 0;
    width: 35vh;
    height: 100vh;
    padding: 0.5%;
    text-align: center;
}
#main{
    position: fixed;
    left: 35vh;
    top: 0;
}
.btn{
    width: 49%;
}
p{
    color: 	#fdf6e3;
    padding: 1em;
}
h1,h3{
    color: 	#fdf6e3;
    padding: 5px;
}
#name{
    position: absolute;
    right: 0;
    bottom: 0;
}